
<div class="container">
    <div class="row">
        <h1 class="mt-5 mb-5">Create Form</h1>
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form(form) }}
            {{ form_end(form) }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>